<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>
      Product Name
      <%= f.text_field :productname, :placeholder => "Enter Product Name" %>

      <%= f.label :Category %>
      <%= f.text_field :category, :placeholder => "Enter Category" %>

      Base Price
      <%= f.text_field :baseprice, :placeholder => "Enter Base Price" %>

      Bid Duration
      <%= f.text_field :chours, :placeholder => "Enter Bid Duration in Hours" %>
      
     
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
 <% if @item.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @item.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
