<h1>Purchase products here</h1>

<%= will_paginate %>

<ul class="items">
  <% @items.each do |item| %>
    <h2>
      <%= link_to item.productname, edit_item_path(current_item) %>
      <%= item.email %>
       <%= item.baseprice %>
       <%= item.cbiddingprice %>
       <%= item.lbidderemail %>

    </h2>
  <% end %>
</ul>

<%= will_paginate %>